.anchor-nav {
	position: sticky;
	top: 100px;
}

nav {
	background-color: #F1B9AC;
	max-width: 800px;
	margin: auto;
	font-size: 1.5em;
	text-transform: uppercase;

}

nav ul {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: space-evenly;
	
}

nav ul li {
	background-color: light;
	flex-flow: row wrap;
	align-items: stretch;
	list-style-type: none;
	padding: 1rem;
	max-width: 100%;
	border-radius: 0.1rem;

}

nav ul li a {
	color: red;
	font-family: 'Libre Baskerville', serif;
}

nav ul li a:visited {
	color: black;
}

nav ul li a:hover {
	color: green;
}

a:hover {

}


main {
	max-width: 800px;
	margin: auto;
	font-size: 1.4rem;
}


p {
	font-family: 'Space Grotesk', sans-serif;
}




footer {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 100;
	color: rebeccapurple;
	max-width: 800px;
	margin: auto;
	

}

h1 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 900;
	margin: 1rem;
}

h2 {
	font-size: 2.5rem;
	text-transform: capitalize;
}

h3 {
	font-family: 'Space Grotesk', sans-serif;


}




h4 {

}

p {
	font-family: 'Space Grotesk', sans-serif;
}




.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.gallery-image { 
	}


.button_holder {
	display: flex;
	flex-direction: row;
}

#button_next {

  }

#button_previous {

  }

.stepper {  }

button {
	background-color: orange;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {

}

.gallery-image {
	max-width: 80%;

}

.gallery-image img {
	width: 100%;
}

.hideThis {
	display: none;
}

example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings2 {
	display: flex;
	flex-wrap: wrap;
}

.location-holder{
	width: 100%;
	margin: 4rem 0;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	box-sizing: border-box;
  }

.text-holder {
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
  }

 

  main {
	width: 90%;
	max-width: 1000px;
	background: whitesmoke;
	border-radius: 1rem;
	padding: 1rem 2rem;
	box-sizing: border-box;
	margin: 1rem auto;
  }
  

p {
	font-family:'Fira Sans Condensed', sans-serif;
}

h1{
    font-family: 'Fira Sans Condensed', sans-serif;
}

footer {
    font-family: 'Fira Sans Condensed', sans-serif;
	text-align: center;
}

address {
	font-family: 'Young Serif', serif;
}

.listing {
	display: flex;
	flex-wrap: wrap;
}

.list-item {
	display: flex;
	border: 5px dashed red;
}

.list-item h2 {
	display: flex;
	font-family: 'Autour One', serif; 
}


.list-item .date {
	display: flex;
	font-weight: 200;
	margin-left: 1rem;
}

.list-item .desc {
	display: flex;
	font-weight: 400;
	margin-left:1rem;
	padding: 0.25rem;
	margin-top: -1rem;

}


.list-image {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
   
.img-credit {
	    
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	z-index: 3;
    	color: lightcoral;
	    font-family: 'Prompt', sans-serif;
    	font-size: 0.8rem;
    	padding: 1rem;
}

.img-credit a {
	color: midnightblue;
	background: lightgray;
	border-radius: 2px;

}
.list-image img{

	max-width: 200px;
	margin: 1rem;
	box-shadow: 0.25rem 0.25rem gold;
	border-radius: 0.3rem;
	
}

.halloween-intro {
	margin: 1rem;
	padding: 1rem;
	background-color: lightgray;
}

.halloween-intro .h1 {
    font-family: 'Autour One', serif;
}

@media screen and (min-width:480px){
	body {
		background-color: lightpink;
}
	}


@media screen and (min-width:720px){
	body {
	background-color: lightgreen;
}

	.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}
	.example-image img {
	background-color: crimson;
	padding: 3rem;
}

	}